body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header,
.footer{
    background-color: #1F2937;
    color: #fff;
}
.header-content,
main{
    padding: 0px 150px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}


ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

.header-left,
.header-right{
    flex: 1;
}


main{
    display: flex;
    padding: 100px 200px;
}
.title{
    font-size: 48px;
    font-weight: bold;
    color : #F9FAF8;
}
.text-header,
a{
    font-size: 18px;
    color: #E5E7EB;
}
.button-header{
    background-color: #3882F6;
    padding: 10px 30px;
}