body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header,
.footer{
    background-color: #1F2937;
    color: #fff;
}
.header-content,
main{
    padding: 0px 190px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}


ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

.header-left,
.header-right{
    flex: 1;
}


main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 170px;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color : #F9FAF8;
    margin: 0;
}
.text-header,
a{
    font-size: 18px;
    color: #E5E7EB;
}
.text-header{
    margin: 0px 30px 20px 0px;
}
.button-header{
    background-color: #3882F6;
    margin-top: 130px;
    padding: 10px 35px;
    border-radius: 10px;
}






/*   Información    */
.information{
    padding: 0px 250px 100px 250px;
}
.information-title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color : #1F2937;
    margin: 50px 0px;
}

.information-images-container{
    display: flex;
    gap: 30px;
}

.information-image{
    text-align: center;
}

.information-image img{
    border-radius: 15px;
}
.information-parrafo{
    margin: 0;
    font-size: 17px;
    text-align: center;
    color: rgb(77, 76, 76);
    font-weight: 900;
}






/*    Quote section     */

.quote-container{
    background-color: #E5E7EB;
    padding: 150px 270px 50px 270px;
    
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    margin-left: 50px;
    display: inline-block;
}

.quote-h3{
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}